
@import '_var';

.v_tuan{
    margin-top:50px;
    
    img{
        display:block;
        margin:0 auto;
    }
}
.more{
    margin-top:70px;
    
    img{
        display:block;
        margin:0 auto;
    }
}
.t_xvn{
    margin-top:50px;
    ul{
        li{float:left;padding-right:30px;}
    }
}
#youxuan{
    margin-top:90px;

    .container{
        .y_title{
            text-align: center;
            color:$topcolor;
            height:65px;
            h2{font-size:22px;}
        }
        .yall{
                margin-bottom:18px;
                .y_left{
                    width:590px;
                    position:relative;
                    img{
                        display:block;
                    }
                    .details{
                        line-height: 75px;
                        border:1px solid #ccc;
                        border-top: 0 none;
                        padding-left:10px;
                       
                        .one{
                            float:left;

                        }
                        .two{position:absolute; right:15px;color:#A10000;}
                    }
                    
                }
                .y_right{
                    width:589px;
                    
                    height:440px;
                    .yy{
                        width:290px;
                        height:440px;
                        p{
                            width:278px;
                            height:68px;
                            position:relative;
                            border:1px solid #ccc;
                            border-top:0 none;
                            line-height: 68px;
                            padding-left:10px;
                            font-size:14px;
                            margin-bottom:18px;
                            .xin{
                                float:left;
                            }
                            .hui{
                                position:absolute; right:15px;color:#A10000;
                            } 
                        }
                        .ll{
                            width:278px;
                            height:68px;
                            position:relative;
                            border:1px solid #ccc;
                            border-top:0 none;
                            line-height: 68px;
                            padding-left:10px;
                            font-size:14px;
                            .one{
                                 float:left;
                            }
                            .tow{
                                position:absolute; right:15px;color:#A10000;
                            }


                        }
                    }
                    .yy_r{
                            
                           width:278px;
                           height:510px;
                           img{
                            margin-left:8px;
                           }
                        p{
                            border:1px solid #ccc;
                            border-top:0 none;
                            position:relative;
                            width:260px;
                            margin-left:15px;
                            line-height: 68px;
                            padding-left:15px;
                            margin-top:5px;
                            font-size:14px;
                            .one{
                                float:left;
                            }
                            .two{
                            position:absolute; right:15px;color:#A10000;
                            }
                        }
                        
                    }

                }
        }


    }
}

.xia_main{
    margin-top:50px;
    margin-bottom:50px;
    .xia_title{
            text-align: center;
            color:$topcolor;
            height:65px;
            h2{font-size:22px;}
        }
    ul{

        li{
            float:left;
            padding-right:15px;

            p{
                span{float:right;color:#A10000;}
                height:68px;
                line-height: 68px;
                border:1px solid #ccc;
                border-top:0 none;
                padding-left:10px;
                padding-right:8px;


            }
              li:last-child{
            padding-right:0;
            }
        }

    }
}

.jingpin{
        
        .container{

            .jp_title{
                    text-align: center;
                    color:$topcolor;
                    height:65px;
                    h2{font-size:22px;}
                }
            ul{
                li{
                    float:left;
                    margin:0 15px 28px 0;
                    display:inline;

                }
                .last{
                    margin-right:0;
                }
                .ll{
                    margin-right:0;
                }
            }
        }  
}

.baywindow{
    width:73px;
   
    border:1px solid #b81b22;
    border-bottom: 0 none;
    margin-bottom:30px;
    position:fixed;
    right:10px;
    bottom:20px;
    z-index:10;
    ul{
        
        li{
            border-bottom: 1px solid #b81b22;
            
            .aa{
                height:76px;
                width:73px;
                display:block;
                background:url(../images/baywindow.png)no-repeat -1px -1px;
            }
            
            .a1 {
                height:76px;
                width:73px;
                display:block;
                background:url(../images/baywindow.png)no-repeat -1px -78px;
            }
            .a2{
                 height:49px;
                width:73px;
                display:block;
                background:url(../images/baywindow.png)no-repeat -1px -156px;
            }
        
        }
        
       li:last-child  {
            border-bottom: 0 none;
       }
        
    }
}