.danpinbox {
  margin-bottom: 20px;
}

.danpinbox .container {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.danpinbox .container .nav a {
  color: #000000;
  font-size: 14px;
}

.danpinbox .container .neirong {
  padding: 10px 0;
  margin-bottom: 40px;
  border-bottom: 2px solid #ccc;
}

.danpinbox .container .neirong ul li {
  float: left;
  padding: 0 10px;
  font-weight: bold;
  font-size: 14px;
  border-right: 1px solid #000;
}

.danpinbox .container .neirong ul li:last-child {
  border: 0 none;
}

.danpinbox .container .neirong h2 {
  font-size: 20px;
  font-weight: bold;
}

.danpinbox .shopbox .imgmin li {
  width: 68px;
  height: 70px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 60px;
}

.danpinbox .shopbox .imgmax {
  margin-left: 82px;
  border: 1px solid #ccc;
  width: 401px;
  height: 403px;
}

.danpinbox .shopbox .goodsinfo {
  margin-left: 80px;
}

.danpinbox .shopbox .goodsinfo .jia {
  color: #A1002F;
  font-size: 12px;
}

.danpinbox .shopbox .goodsinfo .jia .sale {
  font-size: 24px;
}

.danpinbox .shopbox .goodsinfo .jia a {
  color: #A1002F;
  margin-left: 20px;
}

.danpinbox .shopbox .goodsinfo .goodscolor {
  margin-top: 20px;
  font-size: 12px;
}

.danpinbox .shopbox .goodsinfo .goodscolor .co {
  display: inline-block;
  margin-right: 10px;
}

.danpinbox .shopbox .goodsinfo .goodscolor li {
  float: left;
  width: 95px;
  height: 38px;
  border: 1px solid #f00;
  margin-right: 10px;
  background: url(../images/color.jpg) no-repeat 0 0;
}

.danpinbox .shopbox .goodsinfo .goodscolor li a {
  color: #000;
  width: 30px;
  height: 36px;
  display: inline-block;
  padding-left: 45px;
}

.danpinbox .shopbox .goodsinfo .goodscolor li a span {
  float: right;
  width: 38px;
}

.danpinbox .shopbox .goodsinfo .goodscolor li:nth-child(1) a {
  background: url(../images/color.jpg) no-repeat 0 -1px;
}

.danpinbox .shopbox .goodsinfo .goodsChi {
  margin-top: 20px;
}

.danpinbox .shopbox .goodsinfo .goodsChi p {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
}

.danpinbox .shopbox .goodsinfo .goodsChi li {
  float: left;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.danpinbox .shopbox .goodsinfo .number {
  margin-top: 20px;
}

.danpinbox .shopbox .goodsinfo .number p {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
}

.danpinbox .shopbox .goodsinfo .number #select {
  height: 20px;
  line-height: 20px;
  width: 53px;
}

.danpinbox .shopbox .goodsinfo .option {
  margin-top: 20px;
}

.danpinbox .shopbox .goodsinfo .option p {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
}

.danpinbox .shopbox .goodsinfo .click button {
  width: 169px;
  height: 33px;
}

.danpinbox .shopbox .goodsinfo .click #btn_buy {
  background: #F7ABAF;
  color: #A50309;
}

.danpinbox .shopbox .goodsinfo .click #btn_jion {
  background: #B81C22;
  color: #fff;
  position: relative;
}

.danpinbox .shopbox .goodsinfo .click #btn_jion i {
  background: url(../images/jion.png) no-repeat 0 0;
  position: absolute;
  left: 22px;
  top: 6px;
  width: 24px;
  height: 23px;
}

.danpinbox .shopbox .goodsinfo .youhui {
  margin-top: 20px;
}

.danpinbox .shopbox .goodsinfo .youhui h4 {
  height: 4px;
  line-height: 14px;
  margin-bottom: 6px;
  position: relative;
  border-bottom: 1px solid #A20000;
}

.danpinbox .shopbox .goodsinfo .youhui h4 .ha {
  display: inline-block;
  height: 14px;
  line-height: 14px;
  text-align: center;
  background: #ffffff;
  position: absolute;
  font-size: 14px;
  left: 167px;
  top: -4px;
  color: #A20000;
  padding: 0 8px;
}

.danpinbox .shopbox .goodsinfo .mainyou {
  padding-bottom: 10px;
  border-bottom: 1px solid #A20000;
}

.danpinbox .shopbox .goodsinfo .mainyou .dd {
  display: inline-block;
  width: 33px;
  height: 18px;
  font-size: 14px;
  color: #fff;
  background: #B81C22;
  margin-top: 10px;
}

.shangpin {
  margin-bottom: 20px;
}

.shangpin .container .xq {
  font-size: 12px;
  color: #999999;
}

.shangpin .container .xq p:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

.shangpin .container .pinlu .p_l {
  margin-right: 30px;
}

.shangpin .container .pinlu .p_l h2 {
  border: 1px solid #ccc;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 20px;
}

.shangpin .container .pinlu .p_l ul {
  border: 1px solid #ccc;
}

.shangpin .container .pinlu .p_l ul li {
  width: 162px;
}

.shangpin .container .pinlu .p_l ul li p {
  width: 162px;
  text-align: center;
  font-size: 12px;
}

.shangpin .container .pinlu .p_l ul li img {
  display: block;
  width: 162px;
  height: 162px;
}

.shangpin .container .pinlu .p_r h2 {
  border: 1px solid #ccc;
  height: 45px;
  width: 980px;
  line-height: 45px;
  font-size: 12px;
}

.shangpin .container .pinlu .p_r h2 .last {
  float: right;
}

.shangpin .container .pinlu .p_r h2 .last button {
  width: 120px;
  height: 32px;
  background: #D46A6A;
  margin-right: 10px;
}

.shangpin .container .pinlu .p_r .babox {
  width: 990px;
  font-size: 12px;
  border: 1px solid #ccc;
}

.shangpin .container .pinlu .p_r .babox .pingjia {
  width: 793px;
  border-right: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}

.shangpin .container .pinlu .p_r .babox .pingjia .left p {
  width: 610px;
}

.shangpin .container .pinlu .p_r .babox .pingjia .left span {
  display: block;
  width: 610px;
}

.shangpin .container .pinlu .p_r .babox .pingjia .right span {
  display: block;
  width: 130px;
  line-height: 30px;
}

.shangpin .container .pinlu .p_r .babox .cc {
  margin-right: 75px;
}

.why {
  border: 1px solid #ccc;
}

.why ul {
  width: 900px;
  margin-left: 30px;
}

.why ul li {
  float: left;
  font-size: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  line-height: 30px;
  width: 850px;
}

.why ul li:last-child {
  color: #7C7B7B;
}

body {
  position: relative;
}

.addcar {
  border: 1px solid #f00;
  width: 500px;
  height: 368px;
  position: absolute;
  top: 400px;
  background: #fff;
  right: 20%;
  z-index: 100;
  display: none;
}

.addcar h4 {
  background: #B81B22;
  height: 45px;
  font-size: 18px;
  padding-left: 10px;
  color: #fff;
  line-height: 45px;
}

.addcar h4 span {
  float: right;
  margin-right: 10px;
}

.addcar .addcar_b {
  padding: 20px 0 20px 20px;
  border-bottom: 1px dashed #ccc;
}

.addcar .addcar_b .line {
  margin-left: 30px;
  display: block;
  width: 1px;
  height: 36px;
  line-height: 0px;
  font-size: 0px;
  margin-top: 19px;
  margin-right: 15px;
  background: #b81c22;
  overflow: hidden;
}

.addcar .addcar_b .azz {
  width: 180px;
}

.addcar .addcar_b .azz p {
  margin-top: 10px;
  line-height: 20px;
  font-size: 14px;
}

.addcar .addcar_b .btn_gou {
  margin-top: 20px;
  margin-right: 3px;
}

.addcar .addcar_b .btn_gou button {
  width: 80px;
  height: 33px;
}

.addcar .addcar_b .btn_gou .jix {
  background: #EFEFEF;
  color: #727171;
}

.addcar .addcar_b .btn_gou .goto_car {
  background: #B81C22;
  color: #fff;
}

.addcar h3 {
  line-height: 20px;
  font-size: 16px;
  height: 20px;
  padding-left: 10px;
  color: #999999;
}

.addcar .vvv {
  margin-top: 20px;
}

.addcar .vvv li {
  float: left;
  margin: 0 10px;
  width: 74px;
  font-size: 12px;
}

.addcar .vvv p:last-child {
  color: #A10000;
}
